@model Product[]

@{
    ViewBag.Title = "Product name";
}

<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@($"{prod.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
